body{
  background-color: rgba(0, 0, 0, 0.801);
}
table, th, td {
  border: 1px solid;
    
  }
table {
    width: 80%; /* weboldal szélessége */
    background-color: darkgreen;
    color:white;
    font-family: "Calibri";
    font-size: 30px;
    text-align: center;
  }

  #ido {
    width: 10%;
    background-color: white;
    color: darkgreen;
  }

  #ankunft {
    text-align: center;
    width: 25%;
  }

  #erk {
    text-align: center;
    width: 30%;
  }

  #arrivals {
    width: 25%;
    text-align: center;
  }

  #logo {
    text-align: right;
  }


  #tervezett {
    width: 8%;
    font-size: 15px;
    text-align: left;
  }

  #varhato {
    width: 8%;
    font-size: 15px;
    text-align: left;
  }

  #vonat {
    width: 20%;
    text-align: left;
  }

  #honnan {
    width: 48%;
    text-align: left;
  }

  #vg {
    text-align: right;
    padding-right: 1.5%;
  }

  .expected_time {
    width: 5%;
  }
  .real_time {
    width: 10%;
  }

  .train_type {
  width: 7%;
  padding-right: 2.8%;
  text-align: right;
  }

  .from {
    width: 25%;
    text-align: left;
  }

  .valtozo_tablazat {
    background-color: darkgreen;
    tr:nth-child(even) {background-color: lime;}
  }