table {
    border-collapse: collapse;
  }
table {
    width: 80%; /* weboldal szélessége */
    background-color: darkgreen;
    color:white;
    font-family: "Calibri";
    font-size: 30px;
    text-align: center;

    tr:nth-child(even) {
      background-color: limegreen;
    }
  }
  table th {
    text-align: center;
  }
  #ido {
    background-color: gray;
    color: darkgreen;
  }
  #tervezett {
    font-size: 15px;
  }
  #varhato {
    font-size: 15px;
    text-align: left;
  }
  #terverk {

  }
  #varhatoerk {
    text-align: left;
  }
  #vonattipus {
    text-align: left;
  }